

table {

	border: 1px solid;
	background: #ffffff;
	width: 50%;
	border-collapse: collapse;
	box-shadow: 7px 7px #f4f4f4;
}


table tr:hover {
	background-color: lightblue;
}

table th,
table td {
	padding: 5px;
	font-size: 1rem;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #f6f6f6;
}

table tr td:first-child {
	text-align: center;
	font-weight: bold;
}

table th {
	background-color: rgb(159, 97, 165);
	font-weight: bold;
}

.table-container {
	padding: 1rem 1rem;
}

.table-container tfoot {
	background: #EEEEEE;
}

.table-container tfoot td {
	font-weight: bolder;
}
